@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');

/*PROPRIETES GENERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.bgYellow {
    background-color: #F3C827;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.bold {
    font-weight: 600;
}

/*******************************************HEADER*************************************/
.header {
    padding: 20px;
}

.header img {
    width: 12%;
    margin-left: 50px;
}

.navHeader {
    width: 60%;
    font-size: 18px;
}

.header img {
    width: 11%;
}

.header {
    padding: 15px;
}

.panierIcon {
    color: #F3C827;
    font-size: 30px;
}

/*************************************** SECTION HERO************************************/

.hero {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
    height: 100vh;
    /* Donne à la section toute la hauteur de la fenêtre */
}


.hero h2 {
    font-size: 6vw;
    font-family: "WindSong", cursive;
    font-weight: 500;
}

h1 {
    font-size: 1.7rem;
}

.containery {
    max-width: 100%;
    /* Ajuster à 100% */
    width: 100%;
    margin: auto;
    display: flex;
    gap: 20px;
    /* Réduire l'écart pour les petits écrans */
    flex-wrap: wrap;
    /* Permet d'ajuster le contenu en fonction de la taille */
}


.btn {
    background-color: #F66909;
    border-radius: 4px;
    padding: 20px;
    color: white;
    display: inline-block;
    margin-top: 25px;
    display: block;
    width: fit-content;
    font-size: 20px;
}

.width45 {
    width: 45%;
}

.width30 {
    width: 30%;
}

.width25 {
    width: 25%;
}

/******************************************SECTION ENGAGEMENT*****************************/
#engagement {
    margin-bottom: 35px;
    padding: 40px;
}

.engagement h3,
.bienfait h3 {
    width: 100%;
    padding-top: 65px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 33px;
}

.engagement p,
.bienfait p {
    margin-top: 25px;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
}

/***************************************SECTION BIENFAIT DU MIEL**************************/
.bienfait {
    padding: 40px;
}

.bienfait h4 {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 26px;
    margin-top: 20px;
}


.bienfait .btn {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 35px;
    margin-top: 30px;
}

/************************************SECTION PRODUITS*************************************/
.produits {
    padding: 40px;
}

.produits h3 {
    margin-left: 0;
    padding: 15px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 20px;
}


.card {
    width: 267px;
    border-radius: 4px;
    margin-bottom: 60px;
}

.produitsInfos {
    padding-left: 10px;
    padding-right: 10px;
}

.produitsInfos h4 {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 8px;
}

.produitsInfos p {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 15px;
}

.produitsInfos .btn2 {
    background-color: #F66909;
    border-radius: 4px;
    padding: 20px;
    color: white;
    display: inline-block;
    margin-top: 15px;
    font-size: 22px;
    margin-bottom: 20px;
}

/***********************************SECTION NOS CLIENTS**********************************/
.clients {
    padding-bottom: 60px;
    padding: 40px;
}


.clients h3 {
    width: 100%;
    padding: 20px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 42px;
    color: #593E26;
    margin-top: 40px;
}

.photoEtoile {
    display: flex;
    margin-bottom: 15px;
    margin-top: 40px;
}

.photoEtoile img {
    width: 50%;
    object-fit: cover;
}

.Petoile p {
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Inter", serif;
    font-weight: 800;
    font-size: 15px;
}

.star {
    margin-left: 14px;
}

/*********************************SECTION NOUS TROUVER**************************/
.noustrouver {
    padding: 40px;
}

.nousTrouver h3 {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 26px;
    margin-top: 45px;
    width: 100%;
    margin-left: 50px;
    ;
}

.nousTrouver iframe {
    margin-left: 0;
    width: 100%;
}

.adresse p {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
}

/* FOOTER */
.contact {
    margin-top: 10px;
    padding: 20px;
}

.contact h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact p,
.contact a {
    font-size: 12px;
    /* Ajuster la taille du texte sur mobile */
}

.contact a {
    margin-top: 12px;
    font-family: "Inter", serif;
    font-weight: 500;
}


/* MEDIA QUERIES */
@media all and (max-width: 800px) {
    .hero h2 {
        font-size: 130px;
    }

    .hero img {
        width: 50%;
    }

    .btn {
        background-color: #F66909;
        border-radius: 4px;
        padding: 20px;
        color: white;
        display: inline-block;
        margin-top: 25px;
        display: block;
        width: fit-content;
        font-size: 22px;
    }

    #produits {
        gap: 15px;
    }

    .produits {
        margin: 0;
        padding: 15px;
    }

    .medium50 {
        width: 50%;
        padding: 15px;
    }

    .small100 {
        width: 100%;
    }

    .smallJustifyCenter {
        justify-content: center;
    }

    .smallReverse {
        flex-direction: column-reverse;
    }
}

@media all and (max-width: 800px) {
    .hero h2 {
        font-size: 80px;
        /* Réduire encore plus la taille de la police */
    }

    .containery {
        gap: 10px;
        /* Réduire l'écart entre les éléments */
    }

    .btn {
        font-size: 18px;
        /* Réduire la taille du texte du bouton */
    }
}

@media all and (max-width: 500px) {
    .hero h2 {
        font-size: 50px;
        /* Réduire la taille de la police */
    }

    .btn {
        padding: 15px;
        /* Réduire la taille du bouton */
        font-size: 16px;
        /* Ajuster la taille de police pour mobile */
    }
}